<robot name="crazyflie">
  <link name="cf">
    <inertial>
      <mass value="0.027" />
      <origin xyz="0 0 0" />
      <inertia ixx="2.3951e-5" ixy="0.0" ixz="0.0" iyy="2.3951e-5" iyz="0.0" izz="3.2347e-5" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://crazyflie_real/urdf/meshes/crazyflie.dae"/>
      </geometry>
    </visual>
  </link>

  <link name="world">
    <origin xyz="0 0 0"/>
  </link>
  
  <joint name="world_to_cf" type="fixed">
    <parent link="world"/>
    <child link="cf"/>
  </joint>
</robot>
